{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
echo -n "install packages? [Y/n]: "
read ANS

case $ANS in
  "" | [Yy]* )
    # 「Yes」の場合の処理
    echo install packages...
    ;;
  * )
    # 「No」の場合の処理
    echo abort
    exit 0
    ;;
esac


sudo apt update
sudo apt upgrade
sudo apt install build-essential
sudo apt install ripgrep curl

sudo apt install vim

curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage
chmod u+x nvim.appimage
sudo mkdir -p /opt/nvim
sudo mv nvim.appimage /opt/nvim/nvim
echo export PATH="$PATH:/opt/nvim/" >> ~/.bashrc

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

echo "install packages? (y/N): "
if read -q; then
    echo install packages...
else
    echo abort.
    exit 0
fi

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew install zsh-syntax-highlighting
# brew install zellij
brew install --cask alacritty
brew install vim neovim
{{ end -}}

# We use Alacritty's default Linux config directory as our storage location here.
mkdir -p ~/.config/alacritty/themes
git clone https://github.com/alacritty/alacritty-theme ~/.config/alacritty/themes

# install vim-plug for vim plugins (install plugins using :PlugInstall)
curl -fLo ~/.vim/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim

# instal Rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
source ~/.bashrc
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
source ~/.zshrc
{{ end -}}

# install Zellij using cargo
cargo install --locked zellij
